body{
  background-color: lightblue;
}
table{
  border: 1px;
  background-color: #555555;
  margin-right: auto;
  margin-left : auto;
}
th{
  background-color: white;
}
input{
  height: 30px;
  font-size: 20px;
  width: 170px;
}
.plus{
  background-color: aqua;
  width: 47px;
  font-size: 12px;
}
.minus{
  background-color: yellow;
  width: 47px;
  font-size: 12px;
}
.reset{
  background-color: rgb(241, 105, 105);
  display: block;
  margin-right: auto;
  margin-left : auto;
}
.g{
  background-color: rgb(117, 192, 4);
  font-size: 13px;
}

